.separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  font-weight: bold;

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $border-color;
  }

  &:not(:empty) {
    &::before {
      margin-right: .5em;
    }

    &::after {
      margin-left: .5em;
    }
  }
}
